* {
	border-radius: 3px;
}

window {
	font-size: 15px;
	font-family: "SourceCodePro";
	background-color: #282c34;
	color: #bbccdd;
	margin: 5px;
	border: 2px solid #61afef;
}

#entry:selected {
	background-color: #bbccdd;
	background: linear-gradient(90deg, #98c379, #c678dd);
}

#text:selected {
	color: #282c34;
}

#input {
	background: linear-gradient(90deg, #282c34, #bbccdd);
	color: #bbccdd;	
	border: 2px solid #61afef;
	padding: 0.25em;
}

image {
	margin-left: 0.25em;
	margin-right: 0.25em;
}
